<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="header">
        <img src="imgs/Air_Algérie-Logo.wine.png" class="logo">
    </div>
    <div class="container">

        <img src="imgs/hiking.png" alt="">
        <div class="text">
            <h4>GESTION DE CONGE</h4>
            <p>Planifiez et gérez vos congés facilement. Suivez vos demandes et approuvez les absences en un clic</p>
        </div>
    </div>

    <script>
        let card = document.querySelector('.container');
        card.addEventListener("click", function () {
            window.location.href = 'auth';
        });
    </script>

</body>

</html>